openapi: 3.0.0

info:
    title: Defender Specific Alert Details Plugin
    description: Skills for getting alert details via Graph API Call
    version: "v1"

servers:
    - url: https://graph.microsoft.com/v1.0/security

paths:
    /alerts_v2?$select=id,title:
        get:
            operationId: GetAlertIdsFromIncidentId
            description: List all alert id's based on a user provided incident id
            ExamplePrompt:
              - 'show me alert ids for the specified incident id'
              - 'Get me all alert ids where incident id is provided'
            parameters:
                - in: query
                  name: $filter
                  schema:
                      type: string
                  required: true
                  description: A filter in the format of "incidentid eq id" where ID is an incident ID provided by the user.
            responses:
                "200":
                    description: OK
                    content:
                        application/json:

   # New API added
    /alerts_v2/{alertid}?$select=evidence:
        get:
            operationId: GetEvidenceForSpecificAlert
            description: Get all the evidence details of a specific alert id
            parameters:
                - in: path
                  name: alertid
                  schema:
                      type: string
                  required: true
                  description: id of the alert
            responses:
                "200":
                    description: OK
                    content:
                        application/json: